body {
    font-family: Arial, sans-serif;
    background-color: #a9a1a1 !important;
    text-align: center !important;
    margin: 0px;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    padding: 20px;;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
button{
    background-color: #333 !important;
    border-color:#333 !important ;
    text-decoration-color: white !important ;
}